<template>
	<div class="chat-message" v-bind:class="{ right: otherUser }">
		<div class="col-md-12">
		<!-- <div v-if="(message.messageDate | formatDateOnEmit | formatSeconds) - (message.lastSendMessageDate | formatSeconds) >= 1"> -->
		<!-- {{ message.messageDate | formatDateOnEmit | formatSeconds }} -->
		{{ message.user.name }}
		{{ user }}
		<!-- </div> -->
			<div class="col-md-2" >
				<div class="userProfileImage">
					<div v-if="message.show">
						<div class="userPictureMessageOnEmit">
							<img :src="message.user.image" />
						</div>
					</div>
					<div v-else>
						<div v-if="message.user.image_path != ''" >
							<div class="userPictureMessage">
								<img :src="message.user.image_path" />
							</div>				
						</div>
						<div v-else class="userPictureMessage">
							<img src="images/no-user-image.png" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-10" id="userChatArea">
				<div class="row">
					<div class="col-md-12">
						<small id="userChatMessage" class="right">{{ message.user.name }}</small>
						<div v-if="message.show">
							<div id="chatMessageDateOnEmit">
								<span>{{ message.messageDate | formatDateOnEmit }}</span>
							</div>
						</div>
						<div v-else>
							<div id="chatMessageDate">
								<span>{{ message.created_at | formatDate }}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<p id="chatMessage">{{ message.message }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default{
		props: ['message'],
		otherUser: true
	}
</script>

<style lang="css">
	.chat-message{
		margin-top: 10px;
	}
	.chat-message small{
		color: #dd0000;
	}
	#userChatMessage{
		color: #222;
		font-weight: bold;
		font-size: 15px;
		float: left;
		margin-left: 10px;
	}
	.chat-message #chatMessage{
		margin-left: -35px;
	}
	.chat-message .userPictureMessage img{
		min-width: 50px;
	    max-width: 50px;
	    min-height: 50px;
	    max-height: 50px;
		border-radius: 5px;
	}
	.chat-message .userPictureMessageOnEmit img{
		min-width: 50px;
	    max-width: 50px;
	    min-height: 50px;
	    max-height: 50px;
		border-radius: 5px;
	}

	.chat-message #chatMessageDate span{
		margin-left: 15px;
		color: gray;
		font-size: 11px;
		opacity: 0.8;
		float: left;
		margin-top: 5px;
	}
	.chat-message #chatMessageDateOnEmit span{
		margin-left: 15px;
		color: gray;
		font-size: 11px;
		opacity: 0.8;
		float: left;
		margin-top: 5px;
	}
	.chat-message > div {
		margin-top: 0px;
		margin-left: -25px;
	}
	#userChatArea > div > div{
		margin-left: -60px;
		margin-top: -5px;
	}
</style>