<template>
	<div class="chat-composer">
		<input type="text" placeholder="Enter your message..." v-model='messageText' @keydown.enter="sendMessage">
		<button class="btn btn-primary" @click="sendMessage">Send</button>
	</div>
</template>

<script>
	export default{
		data() {
			return {
				messageText: '',
			}
		},

		methods: {
			sendMessage() {
				this.$emit('messagesent', {
					message: this.messageText,
					messageDate: Date.now(),
					lastSendMessageDate: $('#chatMessageDateOnEmit > span').last().text(),
					show: true,
					user: {
						name: $('#userNameLiSpan > span').text(),
						image: $('#imageHolderUserAccountHeader').attr('src')
					}
				});
				this.messageText = '';
			}
		}
	}
</script>

<style lang="css">
	.chat-composer{
		display: flex;
		margin-top: 20px;
	}
	.chat-composer input{
		flex: 1 auto;
		    padding-left: 5px;
	}
	.chat-composer button{
		-webkit-border-radius: 0;
		margin-left: 20px;
	}
</style>