 <template>
 	<div class="container" id="progress-step1">
 		<!-- <h2 class="fs-title">Create your account</h2> -->
 		<!-- progressbar -->
 		<ul id="progressbar">
 			<li v-if="parent_logged_in == false" class="active">Customer Information</li>
 			<li v-bind:class="{ width50Procent: parent_logged_in, active: parent_logged_in}">Delivery Address</li>
 			<li v-bind:class="{ width50Procent: parent_logged_in}">Payment Page</li>
 		</ul>
 		<!-- fieldsets -->
 		<fieldset v-if="parent_logged_in == false" class="step1">
 			<h2 class="fs-title">Customer Information</h2>
 			<div class="row">
 				<div class="col-md-6">
 					<div class="class-form">
 						<label for="fname" v-bind:class="{'errorLabel': hasError.fname}">First Name:</label>
 						<input name="fname" v-bind:class="{'errorInput': hasError.fname}" v-model="firstStep.fname" placeholder="First Name" type="text"/>
 					</div>
 				</div>
 				<div class="col-md-6">
 					<div class="class-form">
 						<label for="lname" v-bind:class="{'errorLabel': hasError.lname}">Last Name</label>
 						<input name="lname" v-bind:class="{'errorInput': hasError.lname}" v-model="firstStep.lname" placeholder="Last Name" type="text"/>
 					</div>
 				</div>
 			</div>
 			<div class="class-form">
 				<label for="email" v-bind:class="{'errorLabel': hasError.email}">Email address:</label>
 				<input name="email" v-bind:class="{'errorInput': hasError.email}" v-model="firstStep.email" placeholder="Email" type="email"/>
 			</div>
 			<div class="class-form">
 				<label for="password" v-bind:class="{'errorLabel': hasError.password}">Password:</label>
 				<input name="password" v-bind:class="{'errorInput': hasError.password}" v-model="firstStep.password" placeholder="Password" type="password"/>
 			</div>
 			<div class="class-form">
 				<label for="cpass" v-bind:class="{'errorLabel': hasError.cpass}">Repeat Password:	</label>
 				<input name="cpass" v-bind:class="{'errorInput': hasError.cpass}" v-model="firstStep.cpass" placeholder="Repeat Password" type="password"/>
 			</div>
 			<input class="next action-button" name="next" type="button" value="Next" @click="firstStepVerification" />
 		</fieldset>
 		<fieldset class="step2">
 			<h2 class="fs-title">Set up the delivery address</h2>
 			<div class="class-form">
 				<label for="address" style="float:left" v-bind:class="{'errorLabel': hasError.address}">Address:</label>
 				<input name="address" placeholder="Adress" v-bind:class="{'errorInput': hasError.address}" v-model="secondStep.address" type="text"/>
 			</div>
 			<div class="row">
 				<div class="col-md-4">
 					<div class="class-form">
 						<label for="country" style="float:left" v-bind:class="{'errorLabel': hasError.country}">Country:</label>
 						<input name="country"  placeholder="Country" v-bind:class="{'errorInput': hasError.country}" v-model="secondStep.country" type="text"/>
 					</div>
 				</div>
 				<div class="col-md-4">
 					<div class="class-form">
 						<label for="state" style="float:left">State:</label>
 						<input name="state" placeholder="Last Name" v-model="secondStep.state" type="text"/>
 					</div>
 				</div>
 				<div class="col-md-4">
 					<div class="class-form">
 						<label for="zip" style="float:left" v-bind:class="{'errorLabel': hasError.zip}">Zip:</label>
 						<input name="zip" placeholder="Zip" v-bind:class="{'errorInput': hasError.zip}" v-model="secondStep.zip" type="text" maxlength="4"/>
 					</div>
 				</div>
 			</div>
 			<div class="class-form">
 				<label for="phone" style="float:left" v-bind:class="{'errorLabel': hasError.phone}">Phone Number:</label>
 				<input name="phone" placeholder="Phone Number" v-bind:class="{'errorInput': hasError.phone}" v-model="secondStep.phone" type="number"/>
 			</div>
 			<p v-if="parent_logged_in == true" class="defaultDeliveryAddress">* This is your default delivery address. If you want the delivery on another addres, fill free to chnage the address.</p>
 			<input class="previous action-button" v-if="parent_logged_in == false" name="previous" type="button" value="Previous" @click="secondStepVerification(0)" />
 			<input class="next action-button" name="next" type="button" value="Next" @click="secondStepVerification(1)" />
 		</fieldset>
 		<fieldset class="step3">
 			<div class="col-md-6 creditCard">
 				<div class="wrap">
 					<input id="true-option" name="true-or-false" type="radio">
 					<label class="input-wrap true-wrap" for="true-option">
 						<label>CREDIT CARD</label>
 					</label>
 				</input>
 			</div>
 			<div class="credit-card-box">
 				<div class="flip">
 					<div class="front">
 						<div class="chip">
 						</div>
 						<div class="number">
 						</div>
 						<div class="card-holder">
 							<label>Card holder</label>
 							<div></div>
 						</div>
 						<div class="card-expiration-date">
 							<label>Expires</label>
 							<div></div>
 						</div>
 					</div>
 					<div class="back">
 						<div class="strip"></div>
 						<div class="ccv">
 							<label>CCV</label>
 							<div></div>
 						</div>
 					</div>
 				</div>
 			</div>
 			<div autocomplete="off" class="form" novalidate="">
 				<fieldset>
 					<label for="card-number" v-bind:class="{'errorLabel': hasError.cardNumber1, 'errorLabel': hasError.cardNumber2, 'errorLabel': hasError.cardNumber3, 'errorLabel': hasError.cardNumber4}">Card Number</label>
 					<input class="input-cart-number" v-bind:class="{'errorInput': hasError.cardNumber1}" v-model="theardStep.cardNumber1" id="card_number_1" maxlength="4" type="num"/>
 					<input class="input-cart-number" v-bind:class="{'errorInput': hasError.cardNumber2}" v-model="theardStep.cardNumber2" id="card_number_2" maxlength="4" type="num"/>
 					<input class="input-cart-number" v-bind:class="{'errorInput': hasError.cardNumber3}" v-model="theardStep.cardNumber3" id="card_number_3" maxlength="4" type="num"/>
 					<input class="input-cart-number" v-bind:class="{'errorInput': hasError.cardNumber4}" v-model="theardStep.cardNumber4" id="card_number_4" maxlength="4" type="num"/>
 				</fieldset>
 				<fieldset class="card-holder">
 					<label for="card-holder" v-bind:class="{'errorLabel': hasError.card_holder}">Card holder</label>
 					<input id="card-holder" v-bind:class="{'errorInput': hasError.card_holder}" v-model="theardStep.card_holder" type="text"/>
 				</fieldset>
 				<fieldset class="fieldset-expiration">
 					<label for="card-expiration-month" v-bind:class="{'errorLabel': hasError.expiration_month, 'errorLabel': hasError.expiration_year}">Expiration date</label>
 					<div class="select" v-bind:class="{'errorInput': hasError.expiration_month}">
 						<select id="card-expiration-month" v-model="theardStep.expiration_month">
 							<option></option>
 							<option>01</option>
 							<option>02</option>
 							<option>03</option>
 							<option>04</option>
 							<option>05</option>
 							<option>06</option>
 							<option>07</option>
 							<option>08</option>
 							<option>09</option>
 							<option>10</option>
 							<option>11</option>
 							<option>12</option>
 						</select>
 					</div>
 					<div class="select" v-bind:class="{'errorInput': hasError.expiration_year}">
 						<select id="card-expiration-year" v-model="theardStep.expiration_year">
 							<option></option>
 							<option>2016</option>
 							<option>2017</option>
 							<option>2018</option>
 							<option>2019</option>
 							<option>2020</option>
 							<option>2021</option>
 							<option>2022</option>
 							<option>2023</option>
 							<option>2024</option>
 							<option>2025</option>
 						</select>
 					</div>
 				</fieldset>
 				<fieldset class="fieldset-ccv">
 					<label for="card-ccv" v-bind:class="{'errorLabel': hasError.ccv}">CCV</label>
 					<input id="card-ccv" maxlength="3" type="text" v-bind:class="{'errorInput': hasError.ccv}" v-model="theardStep.ccv"/>
 				</fieldset>
 			</div>
 			<p v-if="parent_logged_in == true" class="defaultCreditCardInformation">* This is your default credit card informations.</p>
 		</div>
 		<div class="col-md-6 ramburs">
 			<div class="wrap">
 				<input id="false-option" name="true-or-false" type="radio">
 				<label class="input-wrap true-wrap" for="false-option">
 					<label>RAMBURS</label>
 				</label>
 			</input>
 		</div>
 		<div class="panel panel-default">
 			<div class="panel-body">
 				You will pay when the product arrives.
 			</div>
 		</div>
 	</div>
 	<input class="previous last action-button"  name="previous" type="button" value="Previous" @click="theardStepVerification(0)" />
 	<input class="submit action-button" type="submit" value="Submit" v-bind:class="{'customDisabledClass': disabledProperty}" :disabled="cartNotEmpty" @click="theardStepVerification(1)" />
 </fieldset>
</div>
</template>

<script>
	export default {
		data(){
			return{
				transactionDetails: 'false',
				disabledProperty: false,
				parent_logged_in: this.$parent.userLoggedIn,
				parent_products: this.$parent._data,
				hasError: { fname: false, lname: false, email: false, password: false, cpass: false, 
					address: false, country: false, zip: false, phone: false,
					cardNumber1 :false, cardNumber2 :false, cardNumber3 :false, cardNumber4 :false, card_holder: false, expiration_month: false, expiration_year:false, ccv:false},
					firstStep: {fname: '', lname: '', email:'', password: '', cpass:''},
					secondStep: {address: '', country: '',state: '', zip: '', phone: ''},
					theardStep: {payment_method: 'Credit Card', cardNumber1: '', cardNumber2: '', cardNumber3: '', cardNumber4: '',card_holder: '', expiration_month: '', expiration_year: '', ccv: ''},
				}
			},

			methods: {
				firstStepVerification(test){
					// first name validation
					if(this.firstStep.fname == ''){
						this.hasError.fname = true;
					}else if(this.firstStep.fname != ''){
						this.hasError.fname = false;
					}

					// last name validation
					if(this.firstStep.lname == ''){
						this.hasError.lname = true;
					}else if(this.firstStep.lname != ''){
						this.hasError.lname = false;
					}

					// email verification
					if(this.firstStep.email == ''){
						this.hasError.email = true;
						$('.emailErrorHint').remove();
						$('input[name=email]').after("<label class='emailErrorHint'>!! please enter a email address.</label>");
					}else{
						if(this.validateEmail(this.firstStep.email) == false){
							this.hasError.email = true;
							$('.emailErrorHint').remove();
							$('input[name=email]').after("<label class='emailErrorHint'>!! please enter a valid email address.</label>");
						}else if(this.validateEmail(this.firstStep.email) == true){
							$('.emailErrorHint').remove();
							this.hasError.email = false;
						}
					}

					// password validation
					if(this.validatePassword(this.firstStep.password) == false){
						this.hasError.password = true;
						this.hasError.cpass = true;
						if($('.passwordHint').text() == ''){
							$('input[name=password]').after("<label class='passwordHint'>!! min 6 letter password, with at least a symbol, a upper case letter and a number</label>");
						}else{
							$('.passwordHint').remove();
							$('input[name=password]').after("<label class='passwordHint'>!! min 6 letter password, with at least a symbol, a upper case letter and a number</label>");
						}
					}else if(this.firstStep.password != this.firstStep.cpass){
						this.hasError.password = true;
						this.hasError.cpass = true;
						if($('.passwordHint').text() == ''){
							$('input[name=password]').after("<label class='passwordHint'>!! Password and Repeat Password fields must match</label>");
						}else {
							$('.passwordHint').remove();
							$('input[name=password]').after("<label class='passwordHint'>!! Password and Repeat Password fields must match</label>");
						}
					}
					else if(this.validatePassword(this.firstStep.password) == true){
						this.hasError.password = false;
						this.hasError.cpass = false;	
						$('.passwordHint').remove();
					}
					

					// go to next step if all good
					if((this.firstStep.fname != '') && (this.firstStep.lname != '') && 
						(this.hasError.email == false) && 
						(this.validatePassword(this.firstStep.password) == true) && (this.firstStep.password == this.firstStep.cpass)){
						// check to see if email exist in database
					axios.get('/user-email').then(response => {
						if(response.data.includes(this.firstStep.email)){
							this.hasError.email = true;
							$('.emailErrorHint').remove();
							$('input[name=email]').after("<label class='emailErrorHint'>!! email address already exist.</label>");
						}else{
							this.hasError.email = false;
							$('.emailErrorHint').remove();
							this.nextStep(1);
						}
					});
				}

			},
			secondStepVerification(action){
				if(action == 1){
				// address validation
				if(this.secondStep.address == ''){
					this.hasError.address = true;
				}else if(this.secondStep.address != ''){
					this.hasError.address = false;
				}

				// country validation
				if(this.secondStep.country == ''){
					this.hasError.country = true;
				}else if(this.secondStep.country != ''){
					this.hasError.country = false;
				}

				// zip validation
				if((isNaN(this.secondStep.zip) == true) || (this.secondStep.zip == '')){
					this.hasError.zip = true;
					if($('.zipHint').text() == ''){
						$('input[name=zip]').after("<label class='zipHint'>!! you must enter a zip code.</label>");
					}else if(isNaN(this.secondStep.zip) == true){
						$('.zipHint').remove();
						$('input[name=zip]').after("<label class='zipHint'>!! the zip code must be a number.</label>");
					}
				}else if(isNaN(this.secondStep.zip) == false){
					$('.zipHint').remove();
					this.hasError.zip = false;
				}

				// phone validation
				if((isNaN(this.secondStep.phone) == true) || (this.secondStep.phone == '')){
					this.hasError.phone = true;
					if($('.phoneHint').text() == ''){
						$('input[name=phone]').after("<label class='phoneHint'>!! you must enter a phone number.</label>");
					}else if(isNaN(this.secondStep.zip) == true){
						$('.phoneHint').remove();
						$('input[name=phone]').after("<label class='phoneHint'>!! the phone must be a number.</label>");
					}
				}else if(isNaN(this.secondStep.phone) == false){
					$('.phoneHint').remove();
					this.hasError.phone = false;
				}

				// go to next step if all good
				if((this.secondStep.address != '') &&
					(this.secondStep.country != '') && (isNaN(this.secondStep.zip) == false) &&
					(isNaN(this.secondStep.phone) == false)){
					this.nextStep(2);
			}
		}else{
			this.prevStep(2);
		}
	},
	theardStepVerification(action){
		if(action == 0){
			this.prevStep(3);
		}else{
				// check for the credit card information if credit card is selected
				if($('.creditCard .credit-card-box').hasClass('opacityClass03') == true){
					this.theardStep.payment_method = 'Ramburs';
					this.transactionDetails = 'true';
				}else {
					this.theardStep.payment_method = 'Credit Card';

					// card number 1 validation
					if((isNaN(this.theardStep.cardNumber1) == true) || (this.theardStep.cardNumber1 == '') || (this.theardStep.cardNumber1.length != 4)){
						this.hasError.cardNumber1 = true;

						if($('.card_number_hint').text() == ''){
							$('.creditCard .form > fieldset:nth-child(1)').after("<label class='card_number_hint'>!! you must enter a card number.</label>");
						}else if(isNaN(this.secondStep.cardNumber1) == true){
							$('.card_number_hint').remove();
							$('.creditCard .form > fieldset:nth-child(1)').after("<label class='card_number_hint'>!! the card number must be numbers.</label>");
						}
					}else if(isNaN(this.theardStep.cardNumber1) == false){
						$('.card_number_hint').remove();
						this.hasError.cardNumber1 = false;
					}

				// card number 2 validation
				if((isNaN(this.theardStep.cardNumber2) == true) || (this.theardStep.cardNumber2 == '') || (this.theardStep.cardNumber2.length != 4)){
					this.hasError.cardNumber2 = true;

					if($('.card_number_hint').text() == ''){
						$('.creditCard .form > fieldset:nth-child(1)').after("<label class='card_number_hint'>!! you must enter a card number.</label>");
					}else if(isNaN(this.secondStep.cardNumber2) == true){
						$('.card_number_hint').remove();
						$('.creditCard .form > fieldset:nth-child(1)').after("<label class='card_number_hint'>!! the card number must be numbers.</label>");
					}
				}else if(isNaN(this.theardStep.cardNumber2) == false){
					$('.card_number_hint').remove();
					this.hasError.cardNumber2 = false;
				}

				// card number 3 validation
				if((isNaN(this.theardStep.cardNumber3) == true) || (this.theardStep.cardNumber3 == '') || (this.theardStep.cardNumber3.length != 4)){
					this.hasError.cardNumber3 = true;

					if($('.card_number_hint').text() == ''){
						$('.creditCard .form > fieldset:nth-child(1)').after("<label class='card_number_hint'>!! you must enter a card number.</label>");
					}else if(isNaN(this.secondStep.cardNumber3) == true){
						$('.card_number_hint').remove();
						$('.creditCard .form > fieldset:nth-child(1)').after("<label class='card_number_hint'>!! the card number must be numbers.</label>");
					}
				}else if(isNaN(this.theardStep.cardNumber3) == false){
					$('.card_number_hint').remove();
					this.hasError.cardNumber3 = false;
				}

				// card number 4 validation
				if((isNaN(this.theardStep.cardNumber4) == true) || (this.theardStep.cardNumber4 == '') || (this.theardStep.cardNumber4.length != 4)){
					this.hasError.cardNumber4 = true;

					if($('.card_number_hint').text() == ''){
						$('.creditCard .form > fieldset:nth-child(1)').after("<label class='card_number_hint'>!! you must enter a card number.</label>");
					}else if(isNaN(this.secondStep.cardNumber4) == true){
						$('.card_number_hint').remove();
						$('.creditCard .form > fieldset:nth-child(1)').after("<label class='card_number_hint'>!! the card number must be numbers.</label>");
					}
				}else if(isNaN(this.theardStep.cardNumber4) == false){
					$('.card_number_hint').remove();
					this.hasError.cardNumber4 = false;
				}

				// card holder validation
				if(this.theardStep.card_holder == ''){
					this.hasError.card_holder = true;
				}else if(this.theardStep.card_holder != ''){
					this.hasError.card_holder = false;
				}

				// expiration  month validation
				if(this.theardStep.expiration_month == ''){
					this.hasError.expiration_month = true;
				}else if(this.theardStep.expiration_month != ''){
					this.hasError.expiration_month = false;
				}

				// expiration  year validation
				if(this.theardStep.expiration_year == ''){
					this.hasError.expiration_year = true;
				}else if(this.theardStep.expiration_year != ''){
					this.hasError.expiration_year = false;
				}

				// ccv validation
				if((isNaN(this.theardStep.ccv) == true) || (this.theardStep.ccv == '')){
					this.hasError.ccv = true;
				}else if(isNaN(this.theardStep.ccv) == false){
					this.hasError.ccv = false;
				}

				if((isNaN(this.theardStep.cardNumber1) == false) && (isNaN(this.theardStep.cardNumber2) == false) && 
					(isNaN(this.theardStep.cardNumber3) == false) && (isNaN(this.theardStep.cardNumber4) == false) &&
					(this.theardStep.card_holder != '') && (this.theardStep.expiration_month != '') && (this.theardStep.expiration_year != '') && (this.theardStep.ccv != ''))
				{
					this.transactionDetails = 'true';
				}
			}

			if(this.transactionDetails = 'true'){
					// credit card information
					let cardNumber = this.theardStep.cardNumber1 + this.theardStep.cardNumber2 + this.theardStep.cardNumber3 + this.theardStep.cardNumber4;
					// let password = sha256(this.firstStep.password);
					var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,"n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}

					let password = Base64.encode(this.firstStep.password);

					// calculate the check
					let paymentSum = 0;
					let buyedProducts = [];
					for(let z = 0; z <= this.parent_products.products.length - 1; z++){
						if(this.parent_logged_in == false){
							paymentSum += parseInt(this.parent_products.products[z].product_price) * parseInt(this.parent_products.products[z].product_qty); 
							buyedProducts.push(this.parent_products.products[z].product_name);
						}else{
							paymentSum += parseInt(this.parent_products.products[z].price) * parseInt(this.parent_products.products[z].product_qty); 
							buyedProducts.push(this.parent_products.products[z].product_name);
						}
					}

					// delete from cart all products
					for(let j = 0; j <= this.parent_products.products.length - 1; j++){
						if(this.parent_logged_in == false){
							let productname = this.parent_products.products[j].product_name;
								// delete from cookie
								let cart = JSON.parse(this.$cookie.get('cart'));
								for(let i = 0 ; i <= cart.length - 1; i++){
									var obj = cart[i];

									if(productname.indexOf(obj.product_name) !== -1) {
										cart.splice(i, 1);
										i--;
									} 
								}
								this.$cookie.delete('cart');
								this.$cookie.set('cart', JSON.stringify(cart), 1);
							}else{
								let productname = this.parent_products.products[j].product_name;
								//delete fro mdb
								$.ajax({
									type: 'DELETE',
									url: '/remove-product-from-shopping-cart',
									data: {
										productName: productname,
									},
									success: function (raspunsDeLaAjax) {

									}
								});
							}
						}

					// send data to laravel to process the payment
					$.ajax({
						type: 'POST',
						url: '/accept-payment',
						dataType: 'json',
						data: {
							// first step information
							customerFirstName: this.firstStep.fname,
							customerLastName: this.firstStep.lname,
							customerEmail: this.firstStep.email,
							customerPassword: password,

							// second step information
							customerAddress: this.secondStep.address,
							customerCountry: this.secondStep.country,
							customerState: this.secondStep.state,
							customerZip: this.secondStep.zip,
							customerPhone: this.secondStep.phone,

							// third step information
							paymentMethod: this.theardStep.payment_method,
							paymentSum: paymentSum,
							cardHolder: this.theardStep.card_holder,
							cardNumber: cardNumber,
							expirationMonth: this.theardStep.expiration_month,
							expirationYear: this.theardStep.expiration_year,
							ccv: this.theardStep.ccv,

							// products
							products: this.parent_products.products
						},
						success: function(raspunsDeLaAjax) {}
					});

					// redirect to members area
					swal({
						title: 'Thankyou for your purchase!',
						type: 'success',
						allowOutsideClick: false,
						showConfirmButton: false,
						// confirmButtonText: 'See my invoices!',
						closeOnConfirm: false ,
						timer:5000
					},function() {
						location.href = '/invoice';
					});
				}
			}
		},

		nextStep(action){
			if (animating) return false;
			let animating = true;
			let current_fs = $('.step' + action + ' .next').parent();
			let next_fs = $('.step' + action + ' .next').parent().next();
			$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
			next_fs.show();
			current_fs.animate({
				opacity: 0
			}, {
				step: function(now, mx) {
					let scale = 1 - (1 - now) * 0.2;
					let left = (now * 50) + "%";
					let opacity = 1 - now;
					current_fs.css({
						'transform': 'scale(' + scale + ')',
						'position': 'relative'
					});
					next_fs.css({
						'left': left,
						'opacity': opacity
					});
				},
				duration: 0,
				complete: function() {
					current_fs.hide();
					animating = false;
				},
			});
		},

		prevStep(action){
			if (animating) return false;
			let animating = true;
			let current_fs = $('.step' + action + ' .previous').parent();
			let previous_fs = $('.step' + action + ' .previous').parent().prev();
		        //de-activate current step on progressbar
		        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
		        //show the previous fieldset
		        previous_fs.show();
		        //hide the current fieldset with style
		        current_fs.animate({
		        	opacity: 0
		        }, {
		        	step: function(now, mx) {
		        		let scale = 0.8 + (1 - now) * 0.2;
		        		let left = ((1 - now) * 50) + "%";
		        		let opacity = 1 - now;
		        		current_fs.css({
		        			'left': left
		        		});
		        		previous_fs.css({
		        			'transform': 'scale(' + scale + ')',
		        			'opacity': opacity
		        		});
		        	},
		        	duration: 100,
		        	complete: function() {
		        		current_fs.hide();
		        		animating = false;
		        	},
		        });
		    },

		    validateEmail(email) {
		    	var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		    	return re.test(email);
		    },

		    validatePassword(password)
		    {
		    	let re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
		    	return re.test(password);
		    }
		},

		computed: {
			cartNotEmpty(){
				if(this.parent_products.products.length == 0){
					return true;
				}else{
					return false;
				}
			}
		},

		created(){
			// get user delivery address
			axios.get('/user-delivery-address').then(response => {
				this.secondStep.country = response.data['0'].country;
				this.secondStep.state = response.data['0'].state;
				this.secondStep.address = response.data['0'].address;
				this.secondStep.zip = response.data['0'].zip;
				this.secondStep.phone = response.data['0'].phone;
			});

			// get user credit card informations
			axios.get('/user-credit-card-informations').then(response => {
				let exp_month = response.data['0'].card_expiration_month;
				if((exp_month < 10) && (exp_month.length == 1)){
					exp_month = '0' + exp_month;
				}

				this.theardStep.cardNumber1 = response.data['0'].card_number_1;
				this.theardStep.cardNumber2 = response.data['0'].card_number_2;
				this.theardStep.cardNumber3 = response.data['0'].card_number_3;
				this.theardStep.cardNumber4 = response.data['0'].card_number_4;
				this.theardStep.card_holder= response.data['0'].card_holder;
				this.theardStep.expiration_month = exp_month;
				this.theardStep.expiration_year  = response.data['0'].card_expiration_year;
				this.theardStep.ccv = response.data['0'].card_ccv;

				// fill credit card front
				$('.number').text(this.theardStep.cardNumber1 +this.theardStep.cardNumber2 +this.theardStep.cardNumber3 +this.theardStep.cardNumber4);
				$('.card-holder div').text(this.theardStep.card_holder);
				$('.card-expiration-date div').text(this.theardStep.expiration_month + '/' + this.theardStep.expiration_year);
				// back of the credit card
				$('.ccv div').text(this.theardStep.ccv);
			});
		},

		mounted(){
			if(this.parent_logged_in == false){
				if(this.parent_products.products.length == 0){
					this.disabledProperty = true;
				}else{
					this.disabledProperty = false;
				}
			}else{
				// $('#progressbar > li:nth-child(2)').addClass('active');
				$('input.submit.action-button').css('margin-left', '-70px', 'important');

				axios.get('/cart-products').then(response => {
					if(response.data.length == 0){
						this.disabledProperty = true;
					}else{
						this.disabledProperty = false;
					}
				});
				
			}
		}
	}
</script>

<style lang="css">
	p.defaultDeliveryAddress{
		float:left;
		margin-top: 30px;
		opacity: 0.8;
	}
	p.defaultCreditCardInformation{
		margin-top: 15px;
		opacity: 0.8;
	}
	.width50Procent{
		width: 50%!important;
	}
	.step1 label{
		float: left;
	}
	.errorLabel{
		color: #dd0000!important;
	}
	.errorInput{
		border-color: #dd0000!important;
	}
	.step3{
		width: 112%!important;
		margin-left: 0!important;
	}
	.passwordHint, .zipHint, .emailErrorHint, .phoneHint, .card_number_hint, .card_holder_hint{
		color: #dd0000;
		text-align: left!important;
		font-size: 13px;
		width: 100%!important;
		margin-top: 0;
	}
	.customDisabledClass{
		background-color: gray!important;
		cursor: not-allowed!important;
	}
	.next.action-button{
		float:right!important;
	}
	.previous.action-button{
		float:left!important;
	}
	.submit.action-button{
		width: 95%!important;
		max-width: 300px;
		background-color: #ff9527!important;
	}
</style>
