<template>
	<div class="shoppingCart">
		<li v-for="product in parent_products.products">
			<div class="col-md-12" id="shopCartHeader">
				<div class="col-md-2 productImage image">
					<img :src="product.product_image_path"/>
				</div>

				<div class="col-md-3 customTextDesign productName name">
					{{ product.product_name }}
				</div>

				<div class="col-md-2 center customTextDesign dolarSignBeforeText unitPrice">
					{{ product.product_price | priceFilter }}
				</div>

				<div class="col-md-2 input-group productQtyShoppingCartPage">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number" @click="decrementProductQty(product)" data-type="minus" >
                              <span class="glyphicon glyphicon-minus"></span>
                          </button>
                      </span>
                      <input type="text" name="quant[1]" v-model='product.product_qty' class="form-control input-number">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number"  @click="incrementProductQty(product)" data-type="plus">
                              <span class="glyphicon glyphicon-plus"></span>
                          </button>
                      </span>
                </div>

				<div class="col-md-2 center totalSum customTextDesign dolarSignBeforeText totalPrice">
					{{ product.product_qty * product.product_price | priceFilter }}
				</div>

				<div class="col-md-1 deleteIcon">
					<i class="fa fa-close" @click="deleteShopItem(product.product_name)" aria-hidden="true"></i>
				</div>
			</div>
		</li>
	</div>
</template>

<script>
	export default{
		
		data() {
			return {
				parent_products: this.$parent._data,
				parent_logged_in: this.$parent.userLoggedIn,
			}
		},

		methods: {
			decrementProductQty(product){
				// product qty can't be lower than
				if(product.product_qty == 1){
					swal('Attention!', 'The prodcut quantity can\'t be lower than 1!', 'info')
					return;
				}

				if(this.parent_logged_in == false){
					// update product qty from cookie
					let cart = JSON.parse(this.$cookie.get('cart'));

					for (var i = 0; i <= cart.length - 1; i++) {
						if (cart[i].product_name == product.product_name) {
							cart[i].product_qty = product.product_qty -= 1;
							this.$cookie.delete('cart');
							this.$cookie.set('cart', JSON.stringify(cart), 1);
						}
					}
				}else{
					let productQuantity = product.product_qty -= 1;
					let productName = product.product_name;
					// update into database product qty
					$.ajax({
						type: 'POST',
						url: '/decrement-product-qty',
						data: {
							productQuantity: productQuantity,
							productName: productName,
						},
						success: function(raspunsDeLaAjax) {}
					});
				}
			},

			incrementProductQty(product){
				if(this.parent_logged_in == false){
					// update product qty from cookie
					let cart = JSON.parse(this.$cookie.get('cart'));

					for (var i=0; i <= cart.length - 1; i++) {
						if (cart[i].product_name == product.product_name) {
							cart[i].product_qty = product.product_qty += 1;
							this.$cookie.delete('cart');
							this.$cookie.set('cart', JSON.stringify(cart), 1);
						}
					}
				}else{
					product.product_qty -= 1;
					let productQuantity = product.product_qty += 2;
					let productName = product.product_name;
					// update into database product qty
					$.ajax({
						type: 'POST',
						url: '/increment-product-qty',
						data: {
							productQuantity: productQuantity,
							productName: productName,
						},
						success: function(raspunsDeLaAjax) {}
					});
				}
			},

			deleteShopItem(productname){
				// delete the product that have the specified name
				for(var i = 0; i < this.parent_products.products.length; i++) {
					var obj = this.parent_products.products[i];

					if((obj.product_name === undefined) || (obj.product_name === null)){
						this.parent_products.products.splice(i, 1);
						i--;
					} else if(productname.indexOf(obj.product_name) !== -1) {
						this.parent_products.products.splice(i, 1);
						i--;
					} 
				}
				if(this.parent_logged_in == false){
					// delete from cookie
					let cart = JSON.parse(this.$cookie.get('cart'));
					for(let i = 0 ; i <= cart.length - 1; i++){
						var obj = cart[i];

						if(productname.indexOf(obj.product_name) !== -1) {
							cart.splice(i, 1);
							i--;
						} 
					}
					this.$cookie.delete('cart');
					this.$cookie.set('cart', JSON.stringify(cart), 1);
				}else{
					//delete fro mdb
					$.ajax({
						type: 'DELETE',
						url: '/remove-product-from-shopping-cart',
						data: {
							productName: productname,
						},
						success: function (raspunsDeLaAjax) {

						}
					});
				}
			},
		},
	}
</script>

<style lang="css">
	.totalSum{
		color: #fff!important;
		font-style: italic;
		font-weight: bold!important;
	}
	.productImage > img{
		max-height: 70px!important;
	}
	.customTextDesign{
		color: #bfbfbf;
		font-size: 17px;
	}
	.dolarSignBeforeText:before{
		content: '$';
	}
	.qty > input{
		width: 50px;
		text-align: center;
	}
	.shoppingCart .deleteIcon > i{
		font-size: 26px!important;
		color: red!important;
		float: right!important;
		margin-right: 10px!important;
	}
	.productQtyShoppingCartPage{
	    max-width: 150px;
	    float: left!important;
	}
	.productQtyShoppingCartPage input{
	  text-align: center;
	   height: 41px;
	}
	.productQtyShoppingCartPage .glyphicon{
	  font-size: 26px;
	}
</style>