.showAllPage {
    padding-right: 5px;
    /*padding-left: 5px;*/
    margin-right: -5px;
}

.allFlyersRow {
    margin-top: -60px;
}

.gridListView.grid {
    margin-left: 0px;
    margin-right: 0px;
}

.gridListView.list {
    margin-left: 10px!important;
    padding-left: 0;
}

.allFilerFlyersPage.gridListView.grid {
    /*margin-top: 60px;*/
}

.allFilerFlyersPage.gridListView.list {
    margin-top: 20px;
}

body>div.container.content>div>div:nth-child(1)>div>div.col-md-2 {
    margin-right: 22px!important;
}

.list {
    width: 99%;
    /*margin-bottom: 15px;*/
}

.showAllPage .buttons {
    margin-left: -15px !important;
}


/*.flyers.search .buttons{
    margin-left: -15px !important;
}*/