.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
}
.buttons .list-button {
  width: 25px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .list-button span {
  width: 100%;
  height: 8px;
  background: #ccc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.buttons .list-button span.active {
  background: #666;
}
.buttons .grid-button {
  width: 25px;
  height: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .grid-button span {
  width: 42%;
  height: 8px;
  background: #ccc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.buttons .grid-button span.active {
  background: #666;
}
.flyers-search .gridListView.list{
  padding-left: -1px;
  padding-right: 13px;
}
.allFlyersRow .column.row.list{
  width: 100.4%;
  margin-left: -5px;
  padding-left: 0;
}
.flyers-search .column.row.list{
  width: 100%;
  margin-left: -13px;
}

/*ARTICLES CARD*/
body {
  font-family: 'proxima-nova-soft', sans-serif;
}
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 540px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  border-bottom: 4px solid #a6cd56
}
#articles .post-module:hover,
#articles .hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid #e74c3c
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity:0.8;
}
.post-module .thumbnail {
  height: 300px;
  overflow: hidden;
}
.post-module .thumbnail .date {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #222;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .thumbnail .date .day {
  font-size: 18px;
}
.post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .thumbnail img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
    height: 320px;
    margin-top: 0px;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 0px 0 0px 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  display: none;
  position: absolute;
  top: -30px;
  left: 0;
  background: #222;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin-top: -10px;
}
.post-module .post-content .sub_title {
  font-family: 'Oswald';
  font-size: 23px;
  color: #ff0000;
  /*margin-top: 40px;*/
  margin-top: 15px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.column{
  /*width: 25%;*/
  padding: 0 10px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  /*margin-left: -10px;*/
}
.column.grid{
  width: 25%;
}
.column .title > a{
  color: #a6cd56;
}
.column .title > a:hover{
  color: #222;
}
.column .demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.column a:hover {
  text-decoration: none;
}
.column .descript{
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.info span {
  color: #666666;
  font-size: 12px;
}
.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #e74c3c;
}



/*LIST STYLE*/
.showAllFlyers .list{
    width: 100%;
    margin-bottom: 15px;
    float: right;
    margin-right: 0;
}
.allSearchFlyersRow .list{
      width: 100%;
    margin-bottom: 15px;
    float: right;
    margin-right: -5px;
}
.gridListView.grid > div{
  margin-bottom: 15px;
  margin-top: 0px;
  overflow-y: hidden;.modal
}
.modal-body{
  margin-top: -20px;
}
.list .thumbnail{
  max-width: 300px;
  display: block;
  padding: 0px; 
  margin-bottom: 22px;
  line-height: 1.6;
  background-color: #f5f8fa;
  /*border: 0px solid #ddd; */
  /*border-radius: 0px; */
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.grid .thumbnail{
  /*width: 300px;*/
  display: block;
  padding: 0px;
  margin-bottom: 22px;
  line-height: 1.6;
  background-color: #f5f8fa;
  /*border: 0px solid #ddd; */
  /*border-radius: 0px; */
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.list .post-content{
  margin-left: 320px;
  width: 80%;
}
.list .post-module{
  max-height: 300px;
}

/*cod for mobile layout*/
.dysplayOnDestopListView{
  margin-top: -50px; 
  float: right; 
  margin-right: -10px;
}
.listContentMove{
  margin-left: 0px;
  padding-top: 0;
  max-width: 100%;
}


/*// quickview favorite panel*/
.quickviewAndFavoritePanel > div > div > span > i{
  font-size: 20px;
  background: #fff;
  padding: 15px;
  border-right: 2px solid #e3e3e3;
  color: #222;
}
.favorite{
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 97%;
}
.favorite i {
  font-size: 28px;
  cursor: pointer;
  color: #222;
}

.quickviewAndFavoritePanel > div > div > span > div > i
{
  font-size: 25px;
  background: #fff;
  padding-top: 12px;
  padding-left: 15px;
  margin-left: -16px;
  padding-right: -47px;
  padding-bottom: 10px;
  margin-top: -49px;
  padding-right: 15px;
}
.qiuickView:hover{
  cursor: pointer;
}
.quickviewAndFavoritePanel > div > div > span > i:hover, .favorite > i:hover{
  color: #dd0000;
}