#app {
  font-family: 'Roboto Slab', serif;
}

.header {
  height: 80px;
}
.header h2 {
  color: #222;
  font-family: 'Rock Salt';
  float: left;
  font-weight: bolder;
  margin: 10px 20px;
}
.header button {
  border: 0;
  background: #FFDBE0;
  transition: all .1s ease-out;
}
.header button:hover {
  background: #ffd1d7;
}
.header div {
  float: right;
  display: inline;
  margin: 10px;
}

li {
  list-style: none;
}

.fa {
  cursor: pointer;
  margin-left: 5px;
}

.fade-transition {
  transition: all 0.2s ease-out;
}

.fade-enter, .fade-leave {
  opacity: 0;
}

.cart > div {
  z-index: 100;
  background: #222;
  padding: 20px 30px;
  position: absolute;
  right: 30px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.cart > div div {
  text-align: center;
}
.cart ul, .cart li, .cart p {
  margin-bottom: 0;
}
.cart button {
  margin: 20px 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
}

.shop h3 {
  position: absolute;
  top: 160px;
  left: 90px;
  color: rgba(255, 255, 255, 0.3);
  font-family: sans-serif;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -2px;
  color: #222;
}
.shop ul {
  margin-top: 90px;
}
.shop li div {
  padding: 30px;
  background: #222;
  margin-bottom: 20px;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
}
.shop button {
  color: white;
  border: 0;
  background: #00ADB5;
  margin: 0;
  transition: all .1s ease-out;
}
.shop button:hover {
  background: #00959c;
}

.checkout {
  background: #fff;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
  margin-top: 90px;
  padding: 50px 60px;
}
.checkout h3 {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 0.3);
  font-family: sans-serif;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -2px;
  color: #222;
}
.checkout span {
  float: right;
}

@media screen and (max-width: 630px) {
  .checkout {
    padding: 30px 40px;
  }
  .checkout h5 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 550px) {
  .shop h3, .checkout h3 {
    font-size: 3.3em;
    top: -70px;
    left: 0px;
  }
}