//FONTS
$arial: Arial, serif, sans-serif;
$georgia: Georgia, "Times New Roman", serif;

//MIXINS
// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -khtml-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}
// TRANSFORM
@mixin transform($params) {
    @include css3-prefix('transform', $params);
}
//CSS FILTERS
@mixin filter($filter-type,$filter-amount) {
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
}
// TRANSITION
@mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
    @include css3-prefix('transition', $what $length $easing);
}

$typekit-fonts:    "", "";  // index [1, 2]
$typekit-fallbacks:  $georgia, $arial;

@mixin font($weight: 400, $style: normal, $font: 1) {
    $font-weight: $weight;
    $font-style:  $style;

    // Translate Weight
    @if ($weight == 100) or ($weight == thin) or ($weight == ultralight) {
        $weight: 1;
    }
    @if ($weight == 200) or ($weight == extralight) {
        $weight: 2;
    }
    @if ($weight == 300) or ($weight == light) {
        $weight: 3;
    }
    @if ($weight == 400) or ($weight == normal) or ($weight == regular) {
        $weight: 4;
    }
    @if ($weight == 500) or ($weight == medium) {
        $weight: 5;
    }
    @if ($weight == 600) or ($weight == semibold) or ($weight == demi) {
        $weight: 6;
    }
    @if ($weight == 700) or ($weight == bold) {
        $weight: 7;
    }
    @if ($weight == 800) or ($weight == extrabold) {
        $weight: 8;
    }
    @if ($weight == 900) or ($weight == black) or ($weight == heavy) {
        $weight: 9;
    }

    // Translate Style
    @if $style == normal {
        $style: n;
    }
    @else if $style == italic {
        $style: i;
    }

    // Assemble $font-family
    $primary-font:   nth($typekit-fonts, $font) + "-" + $style + $weight;
    $secondary-font: nth($typekit-fonts, $font);
    $fallback-fonts: nth($typekit-fallbacks, $font);
    $font-family:    quote($primary-font), quote($secondary-font), $fallback-fonts;

    font-family: $font-family;
    font-style:  $font-style;
    font-weight: $font-weight;
}

@mixin font-size($psd-font-size, $psd-line-height) {
    font-size: $psd-font-size;
    line-height: ($psd-line-height)/$psd-font-size;
}

//VARIABLES
//Black
$black-100: 	rgba(0,0,0,1);
$black-90: 		rgba(0,0,0,0.9);
$black-80: 		rgba(0,0,0,0.8);
$black-70: 		rgba(0,0,0,0.7);
$black-60: 		rgba(0,0,0,0.6);
$black-50: 		rgba(0,0,0,0.5);
$black-40: 		rgba(0,0,0,0.4);
$black-30: 		rgba(0,0,0,0.3);
$black-20: 		rgba(0,0,0,0.2);
$black-10: 		rgba(0,0,0,0.1);

//White
$white-100: 	rgba(255,255,255,1);
$white-90: 		rgba(255,255,255,0.9);
$white-80: 		rgba(255,255,255,0.8);
$white-70: 		rgba(255,255,255,0.7);
$white-60: 		rgba(255,255,255,0.6);
$white-50: 		rgba(255,255,255,0.5);
$white-40: 		rgba(255,255,255,0.4);
$white-30: 		rgba(255,255,255,0.3);
$white-20: 		rgba(255,255,255,0.2);
$white-10: 		rgba(255,255,255,0.1);

//Invisible
$transparent: 	rgba(255,255,255,0);

$yellow: #fbdb45;

//ANIMATIONS stuff
$hover: all, 0.2s, ease-in;
$slide: all, 0.3s,  cubic-bezier(.55,0,.1,1);
$slide-delay: all, 0.4s 0.1s,  cubic-bezier(.55,0,.1,1);
$slide-slow: all, 0.5s,  cubic-bezier(.55,0,.1,1);
$zoom: all, 1s,  cubic-bezier(.55,0,.1,1);
$zoom-slow: all, 2.4s,  cubic-bezier(.55,0,.1,1);

//SLIDER STUFF
.slider-wraper {
  width: 50vw;
  height: 100vh;
}

.slider--item {
  width: 50vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-slide {
  position: relative;
  outline: none;
  z-index: 1;
  
  &.slick-current {
    z-index: 2;
  }
}

.slick-arrow {
  position: absolute;
  width: 150px;
  top: 0;
  height: 100%;
  border: none;
  outline: none;
  background-color: $transparent;
  text-indent: -9999px;
  z-index: 999;
  cursor: pointer;
  
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 42px;
    height: 42px;
    top: 50%;
    margin-top: -21px;
    @include transition($slide);
  }
  
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 160px;
    top: 50%;
    background-color: $white-100;
    @include transition($slide-delay);
    opacity: 0;
  }
  
  &.slick-prev {
    left: 0;
    
    &:before {
      border-top: 2px solid $white-100;
      border-left: 2px solid $white-100;
      left: 50px;
      @include transform(rotate(-45 + deg));
    }
    
    &:after {
      left: 300px;
    }
    
    &:hover {
      &:before {
        left: 120px;
      }
      
      &:after {
        left: 113px;
        opacity: 1;
        width: 80px;
      }
    }
  }
  
  &.slick-next {
    right: 0;
    
    &:before {
      border-bottom: 2px solid $white-100;
      border-right: 2px solid $white-100;
      right: 50px;
      @include transform(rotate(-45 + deg));
    }
    
    &:after {
      right: 300px;
    }
    
    &:hover {
      &:before {
        right: 120px;
      }
      
      &:after {
        right: 113px;
        opacity: 1;
        width: 80px;
      }
    }
  }
}

//SLICK DOTS
.slick-dots {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  
  li {
     display: inline-block;
     vertical-align: middle;
    margin: 0 6px;
    
    &.slick-active {
      button {
        background-color: $white-100;
        height: 14px;
        width: 14px;
        
        &:hover {
        background-color: $white-100;
        }
      }
    }
    
    button {
      outline: none;
      display: block;
      width: 18px;
      height: 18px;
      border: 1px solid $white-100;
      background-color: $transparent;
      text-indent: -9999px;
      border-radius: 100%;
      cursor: pointer;
      @include transition($hover);
      
      &:hover {
        background-color: $white-50;
      }
    }
  }
}