<script src="https://player.vimeo.com/api/player.js"></script>
<script>
    $ = jQuery;

    var vId = 201424954;
    var currentTimeFromCookie = 0;
    var player;

    $(document).ready(function(){
        var videoFromCookie = getCookie('videoId');
        currentTimeFromCookie = getCookie('videoCurrentTime');

        if (currentTimeFromCookie == null){
            currentTimeFromCookie = 0;
        }

        if(videoFromCookie != null) {
            vId = videoFromCookie;
        }

        console.log(videoFromCookie);
        var options = {
            id: vId,
            width: 700,
            height: 394,
            loop: false
        };

        player = new Vimeo.Player('survival-player', options);

        player.setVolume(80);

        player.ready().then(function() {
            
            if(parseFloat(currentTimeFromCookie) != 0){
                player.setCurrentTime(currentTimeFromCookie).then(function() {
                    player.play();
                });
            }
            
            player.getVideoTitle().then(function(title) {
                document.getElementById('video-title').innerText=title;
            });

            // add class active for the video that is currently playing
            var videoId = $('.thumb-link').data('video');
            
            
        });

        $('.et_pb_column').removeClass('active');
        $("a[data-video="+vId+"]").parent().parent().parent().addClass('active');
    });
    

    // on page reload save video curent time and id
    window.onbeforeunload = function (e) {
        var e = e || window.event;
        player.getCurrentTime().then(function(currentTimeFromCookie){
            // save in cookie the video curent time and the video id
            var videoIdFromCookie = $('.et_pb_column.active .thumb-link').data('video');
            // var videoCurrentTime = player.getCurrentTime();
            console.log(videoIdFromCookie);
            console.log(currentTimeFromCookie);

            document.cookie ="videoId=" + videoIdFromCookie;
            document.cookie ="videoCurrentTime="+currentTimeFromCookie;
        });
    };

    // On click play video
    $('.thumb-link').on('click', function(e){
        e.preventDefault();

        $('html,body').scrollTop(0);

        $('.et_pb_column').removeClass('active');
        $(this).parent().parent().parent().addClass('active');

        var videoId = $(this).data('video');

        player.unload().then(function() {
            player.loadVideo(videoId).then(function() {
                player.ready().then(function() {
                    setTimeout(function(){
                        player.play();
                    }, 500)
                });
                player.getVideoTitle().then(function(title) {
                    document.getElementById('video-title').innerText=title;
                });
            });
        });
        
    });


    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1,c.length);
            }
            if (c.indexOf(nameEQ) === 0) {
                return c.substring(nameEQ.length,c.length);
            }
        }
        return null;
    }

</script>