<div class="backpackElectricityHomeWindPower">
	<div class="rand et_pb_row et_pb_row_1 et_pb_equal_columns et_pb_gutters2 et_pb_row_4col">
		<div class="et_pb_column et_pb_column_1_4  et_pb_column_2">
			<div class="et_pb_code et_pb_module  et_pb_code_1">
				<div class="video-img">
					<a href="#" class="thumb-link" data-video="203272746">
						<img src="https://i.vimeocdn.com/video/617509924_300x168.jpg" alt="">
					</a>
				</div>
				<div class="video-desc">
					<a href="#" class="thumb-link" data-video="203272746">
						<strong>1 - Using Threaded Inserts</strong>
					</a>
				</div>
			</div>
		</div>
		<div class="et_pb_column et_pb_column_1_4  et_pb_column_3">
			<div class="et_pb_code et_pb_module  et_pb_code_2">
				<div class="video-img">
					<a href="#" class="thumb-link" data-video="203090276">
						<img src="https://i.vimeocdn.com/video/617279664_300x168.jpg" alt="">
					</a>
				</div>
				<div class="video-desc">
					<a href="#" class="thumb-link" data-video="203090276">
						<strong>2 - Making the Hub</strong>
					</a>
				</div>
			</div>
		</div>
		<div class="et_pb_column et_pb_column_1_4 -thumb et_pb_column_4 active">
			<div class="et_pb_code et_pb_module  et_pb_code_3">
				<div class="video-img">
					<a href="#" class="thumb-link" data-video="203090226">
						<img src="https://i.vimeocdn.com/video/617279578_300x168.jpg" alt="">
					</a>
				</div>
				<div class="video-desc">
					<a href="#" class="thumb-link" data-video="203090226">
						<strong>3 - Metal hub</strong>
					</a>
				</div>
			</div>
		</div>
		<div class="et_pb_column et_pb_column_1_4 video-thumb et_pb_column_5">
			<div class="et_pb_code et_pb_module  et_pb_code_4">
				<div class="video-img">
					<a href="#" class="thumb-link" data-video="203090384">
						<img src="https://i.vimeocdn.com/video/617279709_300x168.jpg" alt="">
					</a>
				</div>
				<div class="video-desc">
					<a href="#" class="thumb-link" data-video="203090384">
						<strong>4 - Assembly</strong>
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="rand et_pb_row et_pb_row_1 et_pb_equal_columns et_pb_gutters2 et_pb_row_4col">
		<div class="et_pb_column et_pb_column_1_4 et_pb_column_6">
			<div class="et_pb_code et_pb_module  et_pb_code_5">
				<div class="video-img">
					<a href="#" class="thumb-link" data-video="203090408">
						<img src="https://i.vimeocdn.com/video/617279752_300x168.jpg" alt="">
					</a>
				</div>
				<div class="video-desc">
					<a href="#" class="thumb-link" data-video="203090408">
						<strong>5 - Cutting the blades</strong>
					</a>
				</div>
			</div>
		</div>
		<div class="et_pb_column et_pb_column_1_4 et_pb_column_7">
			<div class="et_pb_code et_pb_module  et_pb_code_6">
				<div class="video-img">
					<a href="#" class="thumb-link" data-video="203090426">
						<img src="https://i.vimeocdn.com/video/617279824_300x168.jpg" alt="">
					</a>
				</div>
				<div class="video-desc">
					<a href="#" class="thumb-link" data-video="203090426">
						<strong>6 - Boom</strong>
					</a>
				</div>
			</div>
		</div>
		<div class="et_pb_column et_pb_column_1_4 et_pb_column_8">
			<div class="et_pb_code et_pb_module  et_pb_code_7">
				<div class="video-img">
					<a href="#" class="thumb-link" data-video="203090157">
						<img src="https://i.vimeocdn.com/video/617279433_300x168.jpg" alt="">
					</a>
				</div>
				<div class="video-desc">
					<a href="#" class="thumb-link" data-video="203090157">
						<strong>7 - Mast</strong>
					</a>
				</div>
			</div>
		</div>
		<div class="et_pb_column et_pb_column_1_4 et_pb_column_9">
			<div class="et_pb_code et_pb_module  et_pb_code_8">
				<div class="video-img">
					<a href="#" class="thumb-link" data-video="203090193">
						<img src="https://i.vimeocdn.com/video/617279480_300x168.jpg" alt="">
					</a>
				</div>
				<div class="video-desc">
					<a href="#" class="thumb-link" data-video="203090193">
						<strong>8 - Rain Shield</strong>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>