@media only screen  and (min-device-width : 320px) and (max-device-width : 374px){
    /*general*/
    table, #datatableShowFlyers > thead > tr > th{
        text-align: center;
    }
    .wrapper {
        padding: 0;
    }
    #userName {
        margin-left: -5px!important;
        width: 102%;
    }
    .sidebar-toggle {
        margin-left: 0!important;
    }
    .navbar-nav {
        margin-top: 20px!important;
    }
    .main-header .sidebar-toggle {
        padding: 20px 20px!important;
    }
    .content-header>h1 {
        font-size: 36px!important;
        margin-top: 40px!important;
    }
    #datatableShowFlyers_length label, #datatableShowFlyers_filter, #datatableShowFeaturedFlyers_length label, 
    #datatableShowFeaturedFlyers_filter, #datatableShowInvoices_length label, #datatableShowInvoices_filter,
    #datatableShowUsers_length label {
        float: left!important;
    }
    #datatableShowFlyers_length select, #datatableShowFeaturedFlyers_length select, #datatableShowInvoices_length select,
    #datatableShowUsers_length select {
        margin-left: 25px!important;
        margin-right: 5px;
    }
    #datatableShowFlyers_filter input, #datatableShowFeaturedFlyers_filter input, #datatableShowInvoices_filter input {
        margin-left: 18px!important;
    }
    .datatableRow {
        padding: 15px;
    }
    #datatableShowUsers_wrapper, #datatableShowFlyers_wrapper, #datatableShowInvoices_wrapper, #datatableShowFeaturedFlyers_wrapper {
        padding: 10px;
        margin-top: -20px;
    }
    .position-edit-delete-icons {
        float: right;
    }
    .dtr-details {
        margin-left: -20px!important;
    }
    .panelAdminFFlyer form {
        width: 100%!important;
    }
    .datatableRow>.panelAdminFFlyer {
        width: 100%!important;
    }
    .class-form {
        width: 100%!important;
    }
    .editAdminFlyer {
        width: 105%;
    }
    .flyerPhotos {
        z-index: 99;
        margin-right: 0%!important;
        width: 95%;
    }
    .panelAdminF {
        width: 100%!important;
    }
    .panelAdminF form {
        width: 100%!important;
    }
    #imageHolder {
        margin-top: 10px;
        float: left;
        margin-left: 25%;
        margin-bottom: 30px;
    }
    .userImage {
        width: 100%;
    }
    #createAdminUserSubmitButton {
        width: 100%;
    }
    .panelAdminEditUser {
        width: 90%!important;
        margin-left: 15px!important;
        margin-bottom: 20px!important;
    }
    .panelAdminEditUser form {
        width: 100%!important;
    }
    .sidebar {
        margin-top: -50px!important;
    }
    .btn-warning.updateCreditCard {
        width: 115%!important;
    }
    #card_expiration_month, #card_expiration_year {
        margin-left: -15px!important;
        width: 115%!important;
        max-width: 115%!important;
    }
    #cardNumber2, #cardNumber3 {
        margin-left: -5px;
        width: 113%;
        margin-bottom: 10px;
    }
    #cardNumber4{
       margin-left: -5px;
       width: 110%;
       margin-bottom: 10px;
   }
   #cardNumber1 {
    width: 110%;
    margin-bottom: 10px;
}
.control-label {
    width: 100%!important;
}
.adminFeaturedFlyers #datatableShowFlyers{
    margin-left: -5px!important;
}
#adminUpdateDropzone {
    margin-left: -15px;
    width: 115%!important;
}
#updateAdminFlyerSubmitButton{
    width: 120%;
    margin-left: -12px;
}
.adminDeleteFlyerRatingFormOpen,  #submitDeleteReplyReviewForm, #submitDeleteRatingReviewForm{
    margin-top: 5px;
    margin-left: 0;
}
#updateFlyersRatingButton, #submitDeleteFlyerRatingForm button,
#updateReviewRatingFlyer, #submitDeleteRatingReviewForm button,
[id^=editReviewRepliesButton], #submitDeleteReplyReviewForm button{
    width: 100%;
}
.modal .modal-dialog {
    width: 94%;
}
#reviewTextarea {
    width: 88%;
}
.flyerReview, .reviewReplyFlyer, .reviewRatingsFlyer{
    margin-top: -20px!important;
    width: 110%!important;
    margin-left: -15px!important;
    margin-bottom: -60px;
}
.reviewReplyFlyer .panel-heading, .reviewRatingsFlyer .panel-heading{
    margin-bottom: 15px;
}
.pieSection {
    margin-top: -60px;
    margin-left: 5px;
    margin-bottom: 80px;
}
.pie{
    margin-left: 25px;
}
#reviewRatingAdminModal {
    width: 88%;
}
#editReviewRatingAdminModal {
    width: 100%;
}
#createAdminInvoiceSubmitButton{
    width: 100%;
}
#createAdminUserSubmitButton{
    width: 110%;
}
#updateAdminUserSubmitButton, .updateDeliveryAddress{
    width: 107%!important;
}
#createAdminFlyerSubmitButton{
    width: 100%;
}
}

@media only screen  and (min-device-width : 375px) and (max-device-width : 413px)
{ 
    /*general*/
    table, #datatableShowFlyers > thead > tr > th{
        text-align: center;
    }
    .wrapper {
        padding: 0;
    }
    .navbar-custom-menu > .navbar-nav {
        margin-top: 31px!important;
    }
    .skin-blue .main-header .navbar .sidebar-toggle {
        margin-left: 0px;
    }
    .main-sidebar, .left-side {
        padding-top: 60px;
    }
    .content-header > h1 {
        margin-top: 40px!important;
    }
    .main-sidebar, .left-side {
        padding-top: 60px!important;
    }
    .skin-blue .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 20px!important;
    }

    /*add new flyer*/
    .datatableRow > .panelAdminFFlyer {
        width: 100%!important;
    }
    #adminNewDropzone{
        width: 100%!important;
    }
    .panelAdminFFlyer form {
        width: 100%!important;
    }
    #createAdminFlyerSubmitButton{
        width: 100%!important;
    }

    /*show flyers*/
    #datatableShowFlyers_length label, #datatableShowFlyers_filter, #datatableShowFeaturedFlyers_length label, 
    #datatableShowFeaturedFlyers_filter, #datatableShowInvoices_length label, #datatableShowInvoices_filter,
    #datatableShowUsers_length label {
        float: left!important;
    }
    #datatableShowFlyers_length select, #datatableShowFeaturedFlyers_length select, #datatableShowInvoices_length select,
    #datatableShowUsers_length select {
        margin-left: 15px!important;
        margin-right: 5px;
    }
    .panelAdminFFlyer #description{
        width: 100%!important;
    }
    .editAdminFlyer form{
        width: 100%!important;
    }
    #adminUpdateDropzone{
        width: 112%!important;
    }
    #updateAdminFlyerSubmitButton{
        width: 118%;
        margin-left: -14px;
    }
    .content-header > h1 {
        font-size: 46px!important;
    }

    /*edit review*/
    .adminReviewEdit{
        margin-left: -35px;
        margin-right: -35px;
        margin-top: -20px;
    }
    .pieSection {
        margin-top: -50px!important;
        margin-left: 100px!important;
        margin-bottom: 90px!important;
    }
    .pieSection .pie{
        margin-left: -25px!important;
    }
    .pieSection .legend{
        margin-left: -55px;
    }
    .reviewRatingsFlyer{
        margin-top: -70px;
    }
    .modal-dialog.animated{
        width: 94%;
    }
    #reviewTextarea {
        width: 89%;
    }
    #reviewRatingAdminModal {
        width: 89%;
    }
    #editReviewRatingAdminModal {
        width: 100%;
    }
    #datatableShowUsers_wrapper, #datatableShowFlyers_wrapper, #datatableShowInvoices_wrapper, #datatableShowFeaturedFlyers_wrapper {
        padding: 10px;
    }
    #updateReviewRatingFlyer{
        margin-left: -70px;
    }
    [id^=editReviewRepliesButton]{
        margin-left: 15px;
    }

    /*invocies*/
    .datatableRow > .panelAdminF {
        width: 100%!important;
    }
    .panelAdminF form {
        width: 100%!important;
    }

    /*add new user*/
    #imageHolder {
        margin-top: 10px;
        float: left;
        margin-left: 30%;
        margin-bottom: 30px;
    }
    .userImage {
        width: 100%;
    }
    #createAdminUserSubmitButton {
        width: 106%;
    }

    /*user profiles*/
    #datatableShowUsers_filter label{
        float: left;
    }
    .panelAdminEditUser form {
        width: 100%!important;
    }
    #updateAdminUserSubmitButton, .updateDeliveryAddress {
        width: 107%!important;
    }
    .panelAdminEditUser {
        margin-bottom: 20px!important;
    }
    .class-form {
        width: 100%!important;
    }
    .creditCardNumbers input{
        width: 107%!important;
    }
    #cardNumber2, #cardNumber3 {
        width: 109%!important;
    }
    #card_expiration_month, #card_expiration_year {
        margin-left: -15px!important;
        width: 112%!important;
        max-width: 112%!important;
    }
    .btn-warning.updateCreditCard {
        width: 112%!important;
    }
}


@media only screen  and (min-device-width : 414px) and (max-device-width : 567px)
{ 
    /*general*/
    /*general*/
    table, #datatableShowFlyers > thead > tr > th{
        text-align: center;
    }
    .wrapper {
        padding: 0;
    }
    .navbar-custom-menu > .navbar-nav {
        margin-top: 31px!important;
    }
    .skin-blue .main-header .navbar .sidebar-toggle {
        margin-left: 0px;
    }
    .main-sidebar, .left-side {
        padding-top: 60px;
    }
    .content-header > h1 {
        margin-top: 40px!important;
    }
    .main-sidebar, .left-side {
        padding-top: 60px!important;
    }
    .skin-blue .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 20px!important;
    }

    /*add new flyer*/
    .datatableRow > .panelAdminFFlyer {
        width: 100%!important;
    }
    #adminNewDropzone{
        width: 100%!important;
    }
    .panelAdminFFlyer form {
        width: 100%!important;
    }
    #createAdminFlyerSubmitButton{
        width: 100%!important;
    }

    /*show flyers*/
    #datatableShowFlyers_length label, #datatableShowFlyers_filter, #datatableShowFeaturedFlyers_length label, 
    #datatableShowFeaturedFlyers_filter, #datatableShowInvoices_length label, #datatableShowInvoices_filter,
    #datatableShowUsers_length label {
        float: left!important;
    }
    #datatableShowFlyers_length select, #datatableShowFeaturedFlyers_length select, #datatableShowInvoices_length select,
    #datatableShowUsers_length select {
        margin-left: 15px!important;
        margin-right: 5px;
    }
    .panelAdminFFlyer #description{
        width: 100%!important;
    }
    .editAdminFlyer form{
        width: 97%!important;
    }
    #adminUpdateDropzone{
        width: 112%!important;
    }
    #updateAdminFlyerSubmitButton{
        width: 118%;
        margin-left: -14px;
    }
    .content-header > h1 {
        font-size: 46px!important;
    }

    /*edit review*/
    .adminReviewEdit{
        margin-left: -35px;
        margin-right: -35px;
        margin-top: -20px;
    }
    .pieSection {
        margin-top: -50px!important;
        margin-left: 100px!important;
        margin-bottom: 90px!important;
    }
    .pieSection .pie{
        margin-left: -25px!important;
    }
    .pieSection .legend{
        margin-left: -55px;
    }
    .reviewRatingsFlyer{
        margin-top: -70px;
    }
    .modal-dialog.animated{
        width: 94%;
    }
    #reviewTextarea {
        width: 89%;
    }
    #reviewRatingAdminModal {
        width: 89%;
    }
    #editReviewRatingAdminModal {
        width: 100%;
    }
    #datatableShowUsers_wrapper, #datatableShowFlyers_wrapper, #datatableShowInvoices_wrapper, #datatableShowFeaturedFlyers_wrapper {
        padding: 10px;
    }
    #updateReviewRatingFlyer{
        margin-left: -70px;
    }
    [id^=editReviewRepliesButton]{
        margin-left: 15px;
    }

    /*invocies*/
    .datatableRow > .panelAdminF {
        width: 100%!important;
    }
    .panelAdminF form {
        width: 100%!important;
    }

    /*add new user*/
    #imageHolder {
        margin-top: 10px;
        float: left;
        margin-left: 30%;
        margin-bottom: 30px;
    }
    .userImage {
        width: 100%;
    }
    #createAdminUserSubmitButton {
        width: 106%;
    }

    /*user profiles*/
    #datatableShowUsers_filter label{
        float: left;
    }
    .panelAdminEditUser form {
        width: 100%!important;
    }
    #updateAdminUserSubmitButton, .updateDeliveryAddress {
        width: 107%!important;
    }
    .panelAdminEditUser {
        margin-bottom: 20px!important;
    }
    .class-form {
        width: 100%!important;
    }
    .creditCardNumbers input{
        width: 107%!important;
    }
    #cardNumber2, #cardNumber3 {
        width: 109%!important;
    }
    #card_expiration_month, #card_expiration_year {
        margin-left: -15px!important;
        width: 112%!important;
        max-width: 112%!important;
    }
    .btn-warning.updateCreditCard {
        width: 112%!important;
    }
}


@media only screen  and (min-device-width : 667px) and (max-device-width : 735px)
{ 
    /*general*/
    table, #datatableShowFlyers > thead > tr > th{
        text-align: center;
    }
    .wrapper {
        padding: 0;
    }
    .navbar-custom-menu > .navbar-nav {
        margin-top: 31px!important;
    }
    .skin-blue .main-header .navbar .sidebar-toggle {
        margin-left: 0px;
    }
    .main-sidebar, .left-side {
        padding-top: 60px;
    }
    .content-header > h1 {
        margin-top: 40px!important;
    }
    .main-sidebar, .left-side {
        padding-top: 60px!important;
    }
    .skin-blue .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 20px!important;
    }

    /*add new flyer*/
    .datatableRow > .panelAdminFFlyer {
        width: 100%!important;
    }
    #adminNewDropzone{
        width: 100%!important;
    }
    .panelAdminFFlyer form {
        width: 100%!important;
    }
    #createAdminFlyerSubmitButton{
        width: 100%!important;
    }

    /*show flyers*/
    #datatableShowFlyers_length label, #datatableShowFlyers_filter, #datatableShowFeaturedFlyers_length label, 
    #datatableShowFeaturedFlyers_filter, #datatableShowInvoices_length label, #datatableShowInvoices_filter, #datatableShowUsers_filter,
    #datatableShowUsers_length label {
        float: left!important;
        margin-right: 20%;
    }
    #datatableShowUsers_length label {
        float: left!important;
        margin-right: 17%;
    }
    #datatableShowFlyers_length select, #datatableShowFeaturedFlyers_length select, #datatableShowInvoices_length select,
    #datatableShowUsers_length select {
        margin-left: 15px!important;
        margin-right: 5px;
    }
    div.dataTables_wrapper div.dataTables_filter label {
        margin-right: -125px; 
    }
    .panelAdminFFlyer #description{
        width: 100%!important;
    }
    .editAdminFlyer form{
        width: 97%!important;
    }
    #adminUpdateDropzone{
        width: 105%!important;
    }
    #updateAdminFlyerSubmitButton{
        width: 108%;
        margin-left: -14px;
    }
    .content-header > h1 {
        font-size: 46px!important;
    }

    /*edit review*/
    .adminReviewEdit{
        margin-left: -35px;
        margin-right: -35px;
        margin-top: -20px;
    }
    .pieSection {
        margin-top: -50px!important;
        margin-left: 100px!important;
        margin-bottom: 90px!important;
    }
    .pieSection .pie{
        margin-left: -25px!important;
    }
    .pieSection .legend{
        margin-left: 20px;
        margin-top: 60px;
    }
    .reviewRatingsFlyer{
        margin-top: -70px;
    }
    .modal-dialog.animated{
        width: 97%;
        margin-top: 25px;
    }
    #reviewTextarea {
        width: 89%;
    }
    #reviewRatingAdminModal {
        width: 94%;
    }
    #editReviewRatingAdminModal {
        width: 100%;
    }
    #datatableShowUsers_wrapper, #datatableShowFlyers_wrapper, #datatableShowInvoices_wrapper, #datatableShowFeaturedFlyers_wrapper {
        padding: 10px;
    }

    /*flyer rating*/
    #updateFlyersRatingButton{
        float: left;
        margin-right: -70px;
    }
    #submitDeleteFlyerRatingForm{
        margin-top: 0px;
        float: right;
        margin-left: 0
    }
    table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
        border-right-width: 0;
        width: 30%;
    }

    /*flyer review*/
    .adminDeleteFlyerFormOpen, .adminDeleteUserFormOpen, .adminDeleteInvoiceFormOpen {
        margin-left: 70px;
    }
    .position-edit-delete-icons{
        margin-left: -25px;
    }
    #updateReviewRatingFlyer{
        margin-left: -70px;
    }
    [id^=editReviewRepliesButton]{
        margin-left: 15px;
    }

    /*invocies*/
    .datatableRow > .panelAdminF {
        width: 100%!important;
    }
    .panelAdminF form {
        width: 100%!important;
    }

    /*add new user*/
    #imageHolder {
        margin-top: 10px;
        float: left;
        margin-left: 40%;
        margin-bottom: 30px;
    }
    .userImage {
        width: 100%;
    }
    #createAdminUserSubmitButton {
        width: 106%;
    }

    /*user profiles*/
    #datatableShowUsers_filter label{
        float: left;
    }
    .panelAdminEditUser form {
        width: 100%!important;
    }
    #updateAdminUserSubmitButton, .updateDeliveryAddress {
        width: 103%!important;
    }
    .panelAdminEditUser {
        margin-bottom: 20px!important;
    }
    .class-form {
        width: 100%!important;
    }
    .creditCardNumbers input{
        width: 100%!important;
    }
    #cardNumber2, #cardNumber3 {
        width: 101%!important;
    }
    #card_holder {
        width: 100%!important;
    }
    #card_expiration_month, #card_expiration_year {
        margin-left: -15px!important;
        width: 107%!important;
        max-width: 107%!important;
    }
    .btn-warning.updateCreditCard {
        width: 107%!important;
    }
}


@media only screen  and (min-device-width : 568px) and (max-device-width : 666px)
{ 
    /*general*/
    /*general*/
    table, #datatableShowFlyers > thead > tr > th{
        text-align: center;
    }
    .wrapper {
        padding: 0;
    }
    .navbar-custom-menu > .navbar-nav {
        margin-top: 31px!important;
    }
    .skin-blue .main-header .navbar .sidebar-toggle {
        margin-left: 0px;
    }
    .main-sidebar, .left-side {
        padding-top: 60px;
    }
    .content-header > h1 {
        margin-top: 40px!important;
    }
    .main-sidebar, .left-side {
        padding-top: 60px!important;
    }
    .skin-blue .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 20px!important;
    }

    /*add new flyer*/
    .datatableRow > .panelAdminFFlyer {
        width: 100%!important;
    }
    #adminNewDropzone{
        width: 100%!important;
    }
    .panelAdminFFlyer form {
        width: 100%!important;
    }
    #createAdminFlyerSubmitButton{
        width: 100%!important;
    }

    /*show flyers*/
    #datatableShowFlyers_length label, #datatableShowFlyers_filter, #datatableShowFeaturedFlyers_length label, 
    #datatableShowFeaturedFlyers_filter, #datatableShowInvoices_length label, #datatableShowInvoices_filter, #datatableShowUsers_filter,
    #datatableShowUsers_length label {
        float: left!important;
        margin-right: 10%;
    }
    #datatableShowUsers_length label {
        float: left!important;
        margin-right: 17%;
    }
    #datatableShowFlyers_length select, #datatableShowFeaturedFlyers_length select, #datatableShowInvoices_length select,
    #datatableShowUsers_length select {
        margin-left: 15px!important;
        margin-right: 5px;
    }
    div.dataTables_wrapper div.dataTables_filter label {
       margin-right: -70px; 
   }
   .panelAdminFFlyer #description{
    width: 100%!important;
}
.editAdminFlyer form{
    width: 97%!important;
}
#adminUpdateDropzone{
    width: 107%!important;
}
#updateAdminFlyerSubmitButton{
    width: 110%;
    margin-left: -14px;
}
.content-header > h1 {
    font-size: 46px!important;
}

/*edit review*/
.adminReviewEdit{
    margin-left: -35px;
    margin-right: -35px;
    margin-top: -20px;
}
.pieSection {
    margin-top: -50px!important;
    margin-left: 100px!important;
    margin-bottom: 90px!important;
}
.pieSection .pie{
    margin-left: -25px!important;
}
.pieSection .legend{
    margin-left: -55px;
}
.reviewRatingsFlyer{
    margin-top: -70px;
}
.modal-dialog.animated{
    width: 94%;
}
#reviewTextarea {
    width: 89%;
}
#reviewRatingAdminModal {
    width: 89%;
}
#editReviewRatingAdminModal {
    width: 100%;
}
#datatableShowUsers_wrapper, #datatableShowFlyers_wrapper, #datatableShowInvoices_wrapper, #datatableShowFeaturedFlyers_wrapper {
    padding: 10px;
}

/*flyer rating*/
#updateFlyersRatingButton{
    float: left;
    margin-right: -70px;
}
#submitDeleteFlyerRatingForm{
    margin-top: 0px;
    float: right;
    margin-left: 0
}

/*flyer review*/
.adminDeleteFlyerFormOpen, .adminDeleteUserFormOpen, .adminDeleteInvoiceFormOpen {
    margin-left: 70px;
}
.position-edit-delete-icons{
    margin-left: -25px;
}

/*invocies*/
.datatableRow > .panelAdminF {
    width: 100%!important;
}
.panelAdminF form {
    width: 100%!important;
}

/*add new user*/
#imageHolder {
    margin-top: 10px;
    float: left;
    margin-left: 40%;
    margin-bottom: 30px;
}
.userImage {
    width: 100%;
}
#createAdminUserSubmitButton {
    width: 106%;
}

/*user profiles*/
#datatableShowUsers_filter label{
    float: left;
}
.panelAdminEditUser form {
    width: 100%!important;
}
#updateAdminUserSubmitButton, .updateDeliveryAddress {
    width: 103%!important;
}
.panelAdminEditUser {
    margin-bottom: 20px!important;
}
.class-form {
    width: 100%!important;
}
.creditCardNumbers input{
    width: 100%!important;
}
#cardNumber2, #cardNumber3 {
    width: 101%!important;
}
#card_holder {
    width: 100%!important;
}
#card_expiration_month, #card_expiration_year {
    margin-left: -15px!important;
    width: 107%!important;
    max-width: 107%!important;
}
.btn-warning.updateCreditCard {
    width: 107%!important;
}
}


@media only screen  and (min-device-width : 667px) and (max-device-width : 767px)
{ 
    /*general*/
    table, #datatableShowFlyers > thead > tr > th{
        text-align: center;
    }
    table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
        width: 25%;
    }
    .wrapper {
        padding: 0;
    }
    .navbar-custom-menu > .navbar-nav {
        margin-top: 31px!important;
    }
    .skin-blue .main-header .navbar .sidebar-toggle {
        margin-left: 0px;
    }
    .main-sidebar, .left-side {
        padding-top: 60px;
    }
    .content-header > h1 {
        margin-top: 40px!important;
    }
    .main-sidebar, .left-side {
        padding-top: 60px!important;
    }
    .skin-blue .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 20px!important;
    }

    /*add new flyer*/
    .datatableRow > .panelAdminFFlyer {
        width: 100%!important;
    }
    #adminNewDropzone{
        width: 100%!important;
    }
    .panelAdminFFlyer form {
        width: 100%!important;
    }
    #createAdminFlyerSubmitButton{
        width: 100%!important;
    }

    /*show flyers*/
    #datatableShowFlyers_length label, #datatableShowFlyers_filter, #datatableShowFeaturedFlyers_length label, 
    #datatableShowFeaturedFlyers_filter, #datatableShowInvoices_length label, #datatableShowInvoices_filter, #datatableShowUsers_filter,
    #datatableShowUsers_length label {
        float: left!important;
        margin-right: 20%;
    }
    #datatableShowUsers_length label {
        float: left!important;
        margin-right: 17%;
    }
    #datatableShowFlyers_length select, #datatableShowFeaturedFlyers_length select, #datatableShowInvoices_length select,
    #datatableShowUsers_length select {
        margin-left: 15px!important;
        margin-right: 5px;
    }
    div.dataTables_wrapper div.dataTables_filter label {
       margin-right: -235px; 
   }
   .panelAdminFFlyer #description{
    width: 100%!important;
}
.editAdminFlyer form{
    width: 97%!important;
}
#adminUpdateDropzone{
    width: 105%!important;
}
#updateAdminFlyerSubmitButton{
    width: 107%;
    margin-left: -14px;
}
.content-header > h1 {
    font-size: 46px!important;
}

/*edit review*/
.adminReviewEdit{
    margin-left: -35px;
    margin-right: -35px;
    margin-top: -20px;
}
.pieSection {
    margin-top: -50px!important;
    margin-left: 100px!important;
    margin-bottom: 90px!important;
}
.pieSection .pie{
    margin-left: -25px!important;
}
.pieSection .legend{
    margin-left: 50px;
    margin-top: 50px;
}
.reviewRatingsFlyer{
    margin-top: -70px;
}
.modal-dialog.animated{
    width: 97%;
    margin-top: 40px;
}
#reviewTextarea {
    width: 89%;
}
#reviewRatingAdminModal {
    width: 95%;
}
#editReviewRatingAdminModal {
    width: 100%;
}
#datatableShowUsers_wrapper, #datatableShowFlyers_wrapper, #datatableShowInvoices_wrapper, #datatableShowFeaturedFlyers_wrapper {
    padding: 10px;
}
#updateReviewRatingFlyer{
    margin-left: -70px;
}

/*flyer rating*/
#updateFlyersRatingButton{
    float: left;
    margin-right: -70px;
}
#submitDeleteFlyerRatingForm{
    margin-top: 0px;
    float: right;
    margin-left: 0
}

/*flyer review*/
.adminDeleteFlyerFormOpen, .adminDeleteUserFormOpen, .adminDeleteInvoiceFormOpen {
    margin-left: 70px;
}
.position-edit-delete-icons{
    margin-left: -25px;
}

/*invocies*/
.datatableRow > .panelAdminF, .panelAdminF form, #createAdminInvoiceSubmitButton, #updateAdminInvoiceSubmitButton {
    width: 100%!important;
}

/*add new user*/
#imageHolder {
    margin-top: 10px;
    float: left;
    margin-left: 44%;
    margin-bottom: 30px;
}
.userImage {
    width: 100%;
}
#createAdminUserSubmitButton {
    width: 106%;
}

/*user profiles*/
#datatableShowUsers_filter label{
    float: left;
}
#datatableShowUsers_length label {
    float: left!important;
    margin-right: 37%;
}
.panelAdminEditUser form {
    width: 100%!important;
}
#updateAdminUserSubmitButton, .updateDeliveryAddress {
    width: 103%!important;
}
.panelAdminEditUser {
    margin-bottom: 20px!important;
}
.class-form {
    width: 100%!important;
}
.creditCardNumbers input{
    width: 99%!important;
}
#cardNumber2, #cardNumber3 {
    width: 99.8%!important;
}
#card_holder {
    width: 100%!important;
}
#card_expiration_month, #card_expiration_year {
    margin-left: -15px!important;
    width: 105%!important;
    max-width: 105%!important;
}
.btn-warning.updateCreditCard {
    width: 105%!important;
}
}



@media only screen  and (min-device-width : 768px) and (max-device-width : 1023px)
{ 
    /*general*/
    table, #datatableShowFlyers > thead > tr > th{
        text-align: center;
    }
    table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
        width: 32%;
    }
    .wrapper {
        padding: 0;
    }
    .navbar-custom-menu > .navbar-nav {
        margin-top: 31px!important;
    }
    .skin-blue .main-header .navbar .sidebar-toggle {
        margin-left: -20px;
    }
    .main-sidebar, .left-side {
        padding-top: 60px;
    }
    .content-header > h1 {
        margin-top: 40px!important;
    }
    .main-sidebar, .left-side {
        padding-top: 60px!important;
    }
    .skin-blue .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 20px!important;
    }

    /*add new flyer*/
    .datatableRow > .panelAdminFFlyer {
        width: 100%!important;
    }
    #adminNewDropzone{
        width: 100%!important;
    }
    .panelAdminFFlyer form {
        width: 100%!important;
    }
    #createAdminFlyerSubmitButton{
        width: 100%!important;
    }

    /*show flyers*/
    #datatableShowFlyers_length label, #datatableShowFlyers_filter, #datatableShowFeaturedFlyers_length label, 
    #datatableShowFeaturedFlyers_filter, #datatableShowInvoices_length label, #datatableShowInvoices_filter, #datatableShowUsers_filter,
    #datatableShowUsers_length label {
        float: left!important;
        margin-right: 20%;
    }
    #datatableShowUsers_length label {
        float: left!important;
        margin-right: 17%;
    }
    #datatableShowFlyers_length select, #datatableShowFeaturedFlyers_length select, #datatableShowInvoices_length select,
    #datatableShowUsers_length select {
        margin-left: 15px!important;
        margin-right: 5px;
    }
    div.dataTables_wrapper div.dataTables_filter label {
           margin-right: 0px;
   }
   .panelAdminFFlyer #description{
    width: 100%!important;
}
.editAdminFlyer form{
    width: 97%!important;
}
#adminUpdateDropzone{
    width: 105%!important;
}
#updateAdminFlyerSubmitButton{
    width: 107%;
    margin-left: -14px;
}
.content-header > h1 {
    font-size: 46px!important;
}

/*edit review*/
.adminReviewEdit{
    margin-left: -35px;
    margin-right: -35px;
    margin-top: -20px;
}
.pieSection {
    margin-top: -50px!important;
    margin-left: 100px!important;
    margin-bottom: 90px!important;
}
.pieSection .pie{
    margin-left: -25px!important;
}
.pieSection .legend{
    margin-left: 50px;
    margin-top: 50px;
}
.reviewRatingsFlyer{
    margin-top: -70px;
}
.modal-dialog.animated{
    width: 97%;
    margin-top: 40px;
}
#reviewTextarea {
    width: 95%;
}
#reviewRatingAdminModal {
    width: 95%;
}
#editReviewRatingAdminModal {
    width: 100%;
}
#datatableShowUsers_wrapper, #datatableShowFlyers_wrapper, #datatableShowInvoices_wrapper, #datatableShowFeaturedFlyers_wrapper {
    padding: 10px;
}
#updateReviewRatingFlyer{
    margin-left: -70px;
}

/*flyer rating*/
#updateFlyersRatingButton{
    float: left;
    margin-right: -70px;
}
#submitDeleteFlyerRatingForm{
    margin-top: 0px;
    float: right;
    margin-left: 0
}

/*flyer review*/
.adminDeleteFlyerFormOpen, .adminDeleteUserFormOpen, .adminDeleteInvoiceFormOpen {
    margin-left: 70px;
}
.position-edit-delete-icons{
    margin-left: -25px;
}

/*invocies*/
.datatableRow > .panelAdminF, .panelAdminF form, #createAdminInvoiceSubmitButton, #updateAdminInvoiceSubmitButton {
    width: 100%!important;
}

/*add new user*/
#imageHolder {
    margin-top: 10px;
    float: left;
    margin-left: 44%;
    margin-bottom: 30px;
}
.userImage {
    width: 100%;
}
#createAdminUserSubmitButton {
    width: 106%;
}

/*user profiles*/
#datatableShowUsers_filter label{
    float: left;
}
#datatableShowUsers_length label {
    float: left!important;
    margin-right: 37%;
}
.panelAdminEditUser form {
    width: 100%!important;
}
#updateAdminUserSubmitButton, .updateDeliveryAddress {
    width: 103%!important;
}
.panelAdminEditUser {
    margin-bottom: 20px!important;
}
.class-form {
    width: 100%!important;
}
.creditCardNumbers input{
    width: 99%!important;
}
#cardNumber2, #cardNumber3 {
    width: 99.8%!important;
}
#card_holder {
    width: 100%!important;
}
#card_expiration_month, #card_expiration_year {
    margin-left: -15px!important;
    width: 105%!important;
    max-width: 105%!important;
}
.btn-warning.updateCreditCard {
    width: 105%!important;
}
}